.criipto-signatures {
  --primary-rgb: 0, 150, 136;  /* --limel-theme-primary-color */
  --danger-rgb: 211, 47, 47;   /*  --limel-theme-error-color */
  --success-rgb: 0, 150, 136;  /*  --limel-theme-primary-color  */

  --font-family: ui-sans-serif, system-ui, sans-serif;

   --button-primary-background-rgb: var(--primary-rgb);
  --button-primary-color-rgb: 255, 255, 255; /* --lime-elevated-surface-background-color */

  --button-default-background-rgb: 255, 255, 255; /* --lime-elevated-surface-background-color */
  --button-default-color-rgb: var(--primary-rgb);

  --button-danger-background-rgb: var(--danger-rgb);
  --button-danger-color-rgb: 255, 255, 255; /* --lime-elevated-surface-background-color */
}

.criipto-signatures button {
    border-radius: 6.4px !important;
}
