.criipto-signatures {
  --primary-rgb: 0, 150, 136;  /* --limel-theme-primary-color */
  --danger-rgb: 211, 47, 47;   /*  --limel-theme-error-color */
  --success-rgb: 0, 150, 136;  /*  --limel-theme-primary-color  */

  --font-family: ui-sans-serif, system-ui, sans-serif;

   --button-primary-background-rgb: var(--primary-rgb);
  --button-primary-color-rgb: 255, 255, 255; /* --lime-elevated-surface-background-color */

  --button-default-background-rgb: 255, 255, 255; /* --lime-elevated-surface-background-color */
  --button-default-color-rgb: var(--primary-rgb);

  --button-danger-background-rgb: var(--danger-rgb);
  --button-danger-color-rgb: 255, 255, 255; /* --lime-elevated-surface-background-color */
}

.criipto-signatures button.button--default, 
.criipto-signatures button.button--primary,
.criipto-signatures button.button--danger,
.criipto-signatures button.button--transparent-bordered{
    border-radius: 6.4px !important;

     box-shadow:
        0 0.09375rem 0.225rem 0 rgba(0, 0, 0, 0.632),
        0 0.01875rem 0.05625rem 0 rgba(0, 0, 0, 0.608),
        /* inner brighten edges */
        0 -1px 0.26rem rgba(255, 255, 255, 0.06) inset,
        0 0 0 1px rgba(255, 255, 255, 0.06) inset !important;
}

.criipto-signatures button.button--default:not(:disabled):hover,
.criipto-signatures button.button--default:not(:disabled):focus-visible,
.criipto-signatures button.button--primary:not(:disabled):hover,
.criipto-signatures button.button--primary:not(:disabled):focus-visible,
.criipto-signatures button.button--danger:not(:disabled):hover,
.criipto-signatures button.button--danger:not(:disabled):focus-visible,
.criipto-signatures button.button--transparent-bordered:not(:disabled):hover,
.criipto-signatures button.button--transparent-bordered:not(:disabled):focus-visible {
    box-shadow:
        0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.25),
        0 0.4rem 0.475rem -0.3rem rgba(0, 0, 0, 0.1),
        /* inner brighten edges */
        0 -1px 0.26rem rgba(255, 255, 255, 0.06) inset,
        0 0 0 1px rgba(255, 255, 255, 0.06) inset !important;
}

.criipto-signatures button.button--default:not(:disabled):active,
.criipto-signatures button.button--transparent-bordered:not(:disabled):active {
    box-shadow:
        0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.132),
        0 0.01875rem 0.05625rem 0 rgba(0, 0, 0, 0.108),
        /* inner brighten edges */
        0 -1px 0.26rem rgba(255, 255, 255, 0.06) inset,
        0 0 0 1px rgba(255, 255, 255, 0.06) inset !important;
    transform: translate3d(0, 0.05rem, 0);
    border-color: transparent !important;
    color: rgb(var(--primary-rgb));
}

.criipto-signatures button.button--primary:not(:disabled):active{

    box-shadow:
        0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.132),
        0 0.01875rem 0.05625rem 0 rgba(0, 0, 0, 0.108),
        /* inner brighten edges */
        0 -1px 0.26rem rgba(255, 255, 255, 0.06) inset,
        0 0 0 1px rgba(255, 255, 255, 0.06) inset !important;
    transform: translate3d(0, 0.05rem, 0);
    border-color: transparent !important;
    color: rgb(255, 255, 255);
    background-color: rgb(var(--primary-rgb));
}

.criipto-signatures button.button--danger:not(:disabled):active{
     box-shadow:
        0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.132),
        0 0.01875rem 0.05625rem 0 rgba(0, 0, 0, 0.108),
        /* inner brighten edges */
        0 -1px 0.26rem rgba(255, 255, 255, 0.06) inset,
        0 0 0 1px rgba(255, 255, 255, 0.06) inset !important;
    transform: translate3d(0, 0.05rem, 0);
    border-color: transparent !important;
    color: rgb(255, 255, 255);
    background-color: rgb(var(--danger-rgb));
}

.criipto-signatures button.button--primary:disabled {
   --button-primary-color-rgb: 25, 25, 44; 
   --button-primary-background-rgb: 20, 20, 37; 
    box-shadow: none !important;
    border-color: transparent !important;
}

.criipto-signatures button.button--danger:disabled {
   --button-danger-background-rgb: 20, 20, 37; 
   --button-danger-color-rgb: 25, 25, 44; 
    box-shadow: none !important;
    border-color: transparent !important;
}

.criipto-signatures button.button--default:disabled {
/* found in their internal html structure - not stable if they update it */
   --bs-btn-disabled-bg: rgba(20, 20, 37, 0.15) !important; 
   --bs-btn-disabled-color: rgba(25, 25, 44, 0.37) !important;
   
  box-shadow: none !important;
  border-color: transparent !important;
}
